.max-min-block {
    position: absolute;
    right: 8px;
    top: 4px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.max-min-block.puckered {
    position: absolute;
    user-select: none;
}